@import "tailwindcss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bg-green-400{
  background-color: #92c4a0;
} 
.bg-green-500{
  background-color: #92c4a0;
} 
.bg-green-600{
  background-color: #92c4a0;
} 
.bg-blue-500{
  background-color: #46A3FF;
} 
.text-green-600{
  color: #92c4a0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
